
@import "../../../node_modules/normalize.css/normalize.css";

@import "../../../node_modules/@blueprintjs/icons/lib/css/blueprint-icons.css";

//variables

@import '../../../node_modules/@blueprintjs/core/lib/scss/variables';

$pt-intent-primary: grey;

$app-background: $dark-gray2;


@import "../../../node_modules/@blueprintjs/core/src/blueprint";

body {
  margin: 0;
  //background-color: $pt-dark-app-background-color;
  background-color: $app-background;
};

//------------------------------------------------------------------------------

.image-pane {
  display: block;
  background-size: contain;
  background-color: $app-background;
  width: 100%;
  height: 100%;
  object-fit: contain;
  //max-width: 100%;
  //max-height: 100vh;
  margin: auto;
  //overflow:hidden;
}

.main-pane {
  position: absolute;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

//------------------------------------------------------------------------------

.cross-fade-leave {
  opacity: 1;
}
.cross-fade-leave.cross-fade-leave-active {
  opacity: 0;
  transition: opacity 0.5s ease-in;
}

.cross-fade-enter {
  opacity: 0;
}
.cross-fade-enter.cross-fade-enter-active {
  opacity: 1;
  transition: opacity 0.5s ease-in;
}

.cross-fade-height {
  transition: height .9s ease-in-out;
}


